#gameCanvas {
    background: #1f913b;
    border: #0d3f1a;
    display: block;
    width: 900px;
    height: 600px;
}

#scoreAndPlayerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;    
}

#scoreContainer {
    height: 48px;
    width: 386px;
    background-color: #000000;
}

#scoreText {
    padding-left: 5px;
    color: #ffffff;
}

#playerContainer {
    height: 48px;
    width: 386px;
    background-color: #000000;
}

#playerText {
    padding-left: 5px;
    color: #ffffff;
}