#gameCanvas {
    background: #1f913b;
    border: #0d3f1a;
    display: block;
    width: 900px;
    height: 600px;
}

#scoreAndGameplayContainer {
    display: flex
}

#scoreContainer {
    height: 48px;
    width: 300px;
    background-color: #000000;
}

#scoreText {
    padding-left: 5px;
    color: #ffffff;
}

#gameplaySettingsContainer {
    height: 48px;
    width: 600px;
    background-color: #000000;
}

#gameplaySettingsForm {
    padding-left: 5px;
    padding-top: 16px;
    color: #ffffff;
}

#playerDropdown {
    width: 175px;
}

#difficultyDropdownLabel {
    padding-left: 80px;
}

#difficultyDropdown {
    width: 75px;
}

#newPlayerContainer {
    height: 48px;
    width: 900px;
    background-color: #000000;
}

#newPlayerForm {
    padding-left: 250px;
    padding-top: 16px;
    color: #ffffff;
}

#highScoreContainer {
    display: flex
}

#hardScoreContainer {
    height: 230px;
    width: 225px;
    background-color: #000000;
}

#mediumScoreContainer {
    height: 230px;
    width: 225px;
    background-color: #000000;
}

#easyScoreContainer {
    height: 230px;
    width: 225px;
    background-color: #000000;
}

#playerScoreContainer {
    height: 230px;
    width: 225px;
    background-color: #000000;
}

.highScoreHeader {
    padding-left: 5px;
    color: #ffffff;
}



